* {
  box-sizing: border-box;
}

button,
html {
  font-family: "Press Start 2P", monospace;
  text-align: center;
}

body {
  background-color: black;
  color: white;
}

h1 {
  font-size: 1.5em;
}

button {
  padding: 1em 2em;
  background-color: #1671ff;
  color: white;
  font-size: 20px;
  border: 2px solid white;
  box-shadow: 5px 5px 0px black;
  cursor: pointer;
}

#stage {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1024px;
  height: 768px;
  margin: 0 auto;
  border: 1ch solid bisque;
  overflow: hidden;
}

#start {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

#healthbars {
  width: 1028px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1em auto 0.5em;
}

#healthbars > div {
  display: flex;
  align-items: center;
}

#start:hover {
  background-color: #1681ff;
}

.game-not-started {
  filter: grayscale();
}

.character svg {
  height: 500px;
}

.game-not-started .p1,
.game-not-started .p2 {
  animation: none;
}

.p1 {
  animation: 250ms linear 0s infinite alternate bounce_enemy;
}

.p2 {
  animation: 250ms linear 0s infinite alternate bounce_player;
}

.p1.defeated {
  animation: 250ms linear 0s 1 forwards defeat_enemy;
}

.p2.defeated {
  animation: 250ms linear 0s 1 forwards defeat_player;
}

#nm-grill-fill {
  transition: fill ease-in 500ms;
}

.wind-up-started {
  animation: 100ms linear 0s infinite alternate wind_up_fighter;
}

.wind-up-started #nm-grill-fill {
  fill: #23bf2a;
}

.wind-up-ready #nm-eye-fill {
  fill: goldenrod;
}

@keyframes bounce_enemy {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}

@keyframes bounce_player {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes wind_up_fighter {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-5px);
  }
}

@keyframes defeat_player {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(550px);
  }
}

@keyframes defeat_enemy {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-550px);
  }
}
